@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
	IPublishedContent footerContent = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "contentElements").Descendants().Where(x => x.ContentType.Alias == "footer").FirstOrDefault();
	ObjectInfo.Print(footerContent);
}

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
	
	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						@footerContent.Value("section1Title")
					</h4>

					<ul>
						@{
							foreach (var link in footerContent.Value<IEnumerable<Umbraco.Web.Models.Link>>("section1Content"))
							{
								<li class="p-b-10">
									<a href="@link.Url"  class="stext-107 cl7 hov-cl1 trans-04"> @link.Name </a>
								</li>
							}
						}

					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						@footerContent.Value("section2Title")
					</h4>

					<ul>
						@{
							foreach (var link in footerContent.Value<IEnumerable<Umbraco.Web.Models.Link>>("section2Content"))
							{
								<li class="p-b-10">
									<a href="@link.Url" class="stext-107 cl7 hov-cl1 trans-04"> @link.Name </a>
								</li>
							}
						}
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						@footerContent.Value("section3Title")
					</h4>		
						<ul>
							@foreach (var media in footerContent.Children().Where(x => x.ContentType.Alias == "socialMedia"))
							{
								var image = media.Value<IPublishedContent>("mediaIcon");
								var link = media.Value<Umbraco.Web.Models.Link>("linkUrl");
							<li>
								<img src="@image.Url" height="15" />
								<a href="@link.Url" rel="noopener noreferrer" target="_blank" class="stext-107 cl7 hov-cl1 trans-04">
									@media.Value("mediaName")
								</a>
							</li>
							}
						</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						@footerContent.Value("section4Title")
					</h4>
					@Html.Action("getForm", "Newsletter")

				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="/images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="/images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="/images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="/images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="/images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>